* {
  font-family: "JetBrains Mono Nerd Font";
  font-weight: bold;
  font-size: 14px;
}

window#waybar {
  background: #0F0F17;
  border-radius: 10px;
  opacity: 0.9;
  border: 3px solid rgba(255, 255, 255, 0.1);
}

tooltip {
  background: #171717;
  color: #A1BDCE;
  font-size: 13px;
  border-radius: 10px;
  border: 2px solid #101A24;
}

#workspaces{
  background: rgba(23, 23, 23, 0);
  color: #888789;
  box-shadow: none;
  text-shadow: none;
  transition: 0.2s ease;
  padding-left: 4px;
  padding-right: 4px
}

#workspaces button {
  background: rgba(23, 23, 23, 0);
  color: #A1BDCE;
  box-shadow: none;
  text-shadow: none;
  border-radius: 9px;
  transition: 0.2s ease;
  padding-left: 4px;
  padding-right: 4px
}

#workspaces button.active {
  color: #A1BDCE;
  transition: all 0.3s ease;
  padding-left: 4px;
  padding-right: 4px;
}

#workspcaes button.hover {
  background: none;
  color: #72D792;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#battery {
  color: #A6D189;
  background: rgba(23, 23, 23, 0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-left: 10px;
  padding-right: 20px;
}

#battery.charging, #battery.plugged {
	color: #E8EDF0;
}

#battery.critical:not(.charging) {
    color: red;
}

#clock {
  font-weight: 900;
  color: #A1BDCE;
  background: rgba(23, 23, 23, 0);
  opacity: 1;
  margin: 3px 0px 0px 0px;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

#network {
  font-size: 16;
  color: #A1BDCE;
  padding-right: 5px;
  padding-left: 10px;
}

#backlight {
  font-weight: 900;
  color: #2096C0;
  background: rgba(22, 23, 23, 0);
  margin: 1px 0px 0px 0px;
  padding-left: 5px;
  padding-right: 10px;
}

#pulseaudio {
  font-weight: 900;
  color: #6F8FDB;
  background: rgba(22, 19, 32, 0);
  opacity: 1;
  margin: 0px 0px 0px 0px;
  padding-right: 10px;
  padding-left: 10px;
}
