[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayosd-server --style ~/.config/swayosd/style.css
Restart=on-failure
